<h1>Input with error</h1>
<div>
  <gux-form-field id="errorInput">
    <input
      slot="input"
      name="errorInput"
      type="text"
      step="5"
      min="5"
      max="100"
      placeholder="Enter text"
    />
    <label slot="label">In</label>
    <span slot="error">Field is required</span>
  </gux-form-field>
  <button
    id="errorToggleButton"
    onClick='(function() {
      const errorElement = document.querySelector(`#errorInput span[slot="error"]`);

      if (errorElement) {
        errorElement.remove();
      } else {
        const inputElement = document.querySelector(`#errorInput`);
        const newErrorSlot = document.createElement("span");
        newErrorSlot.setAttribute("slot", "error");
        newErrorSlot.textContent = "Random Error";
        inputElement.appendChild(newErrorSlot);
      }
    })()'
  >
    Toggle Error
  </button>
</div>
